/* Basic Layout */
@import '../config';

html {
  background-color: base($colors);
  -webkit-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin:0;
  padding:0;
}
body {
  font-family: $sansSerifFont;
  font-size: $baseFontSize / 16 * 100%;
  line-height:$baseLineHeight;
  *line-height:normal;
  // Make everything look a little nicer in webkit
  -webkit-font-smoothing: antialiased;
  text-size-adjust: auto;

  position: relative;
  margin: 0;
  padding: 0;
  color: #000;
  color: text($colors);
  background-color: inherit;
}
/*
@media only screen and (max-width: 480px) {
  html {
    font-size: 12/16*100%;
  }
}
@media only screen and (min-width: 100em) {
  html {
    font-size: 1vw;
  }
}
*/
@media only screen and (max-width: 320px) {
  @-ms-viewport {
    width: 320px;
  }
  @viewport {
    width: 320px;
  }
}

/*USed for font-resize*/
h1, h2, h3, h4, h5, h6 {
  font-family: $serifFont;
  color: hilight($colors);
}

a {
  color: $color-link;
  text-decoration: none;
  &:visited {
    color: $color-link-visited;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color-link-hover !important;
  }
  &:focus {
    outline: 1px dotted;
  }
}

small {
  font-size: 80%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
.vcenter {
  & > * {
    display: inline-block;
    vertical-align: middle;
  }
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-smart {
  text-align: center;
  & > * {
    display: inline-block;
    text-align: left;
  }
}
.flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.flex-row {
    flex: 0 0 auto;
}
/* damn ie 10+: it jumps using flex-grow and a form inside ;(
.flex-grow {
  flex: 1 0 auto;
}
*/
/* we simply align the footer to the bottom of the flex container*/
.flex-foot {
  margin-top:auto;
}
/* Bumper for Hero-header, Footer, etc.*/
.bumper {
  position:relative;
}
@media (min-width: $wideLayoutWidth) {
  .bumper:after {
    content: "";
    position:absolute;
    display:block;
    width:2.5em;
    height:100%;
    left:100%;
    top:0;
    background-color:inherit;
    border-radius: 0 2em 2em 0;
  }
}
.noimg {
  @include screenHide();
}