/* Aspect Ratio Boxes for img,iframe */
@import '../config';

.box {
  position: relative;
  display: block;
  width: 100%;
  background: mix(hilight($colors), base($colors), opacity(divider($colors))*100%);
}
.box-dummy {
  display:block;
  width:100%;
  height:0;
  z-index: -1;
}
.box-embed {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  //opacity: 1;
  transition: opacity .5s;
}

iframe {
  overflow: hidden;
  border: none;
}
.pen>iframe {
  border-bottom: 1px solid #000;
}

img[data-src],iframe[data-src] {
  z-index: -1;
  opacity: 0;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}
.caption-text {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin: .5em;
    padding: .5em;
    border-top: 1px solid;
    border-bottom: 1px solid;
    line-height: 1.25;
}
