/* Footer */
@import '../config';

.footer-container {
  background:mix(hilight($colors),base($colors),opacity(divider($colors))*100%);/*Real Color for background*/
}
.footer {
  margin: 0 auto;
  font-family: $monospaceFont;
  padding:.25em 1em;
/*
  & .icon {
    margin-right:.5em;
    height:1.5em;
  }
*/
  & p {margin-top:0;}
}
.licence, .legende {
  line-height:1.2;
}
.licence {
  margin-bottom:1em;
}
.legende {
  padding:0 .25em;
  margin:0 -.25em;
  border-top:1px solid;
  color:info($colors);
  text-align:right;
}
