@import '../config';
@import '../layout/pictures';

.gallery {
  text-align: center;
}
.gallery::after {
  content:'';
  display:inline-block;
  flex-grow: 1000;
}
.flexwrap .gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery > .pic {
  display: inline-block;
  zoom: 1;
  *display: inline;

  margin: 4px;
  flex:1 1 auto;
}
