$icon-background-url: 'icons/background.png';
$icon-background-width: 112px;
$icon-background-height: 96px;


$icon-codepen-url: 'icons/codepen.png';
$icon-codepen-width: 32px;
$icon-codepen-height: 32px;


$icon-cool-url: 'icons/cool.png';
$icon-cool-width: 16px;
$icon-cool-height: 16px;


$icon-facebook-url: 'icons/facebook.png';
$icon-facebook-width: 32px;
$icon-facebook-height: 32px;


$icon-github-url: 'icons/github.png';
$icon-github-width: 32px;
$icon-github-height: 32px;


$icon-google-url: 'icons/google.png';
$icon-google-width: 32px;
$icon-google-height: 32px;


$icon-invader-url: 'icons/invader.png';
$icon-invader-width: 16px;
$icon-invader-height: 16px;


$icon-olli-url: 'icons/olli.png';
$icon-olli-width: 80px;
$icon-olli-height: 80px;


$icon-twitter-url: 'icons/twitter.png';
$icon-twitter-width: 32px;
$icon-twitter-height: 32px;


