$icon-codepen-url: 'icons/codepen.png';
$icon-codepen-width: 32px;
$icon-codepen-height: 32px;


$icon-cool-url: 'icons/cool.png';
$icon-cool-width: 16px;
$icon-cool-height: 16px;


$icon-facebook-url: 'icons/facebook.png';
$icon-facebook-width: 32px;
$icon-facebook-height: 32px;


$icon-github-url: 'icons/github.png';
$icon-github-width: 32px;
$icon-github-height: 32px;


$icon-google-url: 'icons/google.png';
$icon-google-width: 32px;
$icon-google-height: 32px;


$icon-invader-url: 'icons/invader.png';
$icon-invader-width: 16px;
$icon-invader-height: 16px;


$icon-olli-alt-url: 'icons/olli-alt.png';
$icon-olli-alt-width: 96px;
$icon-olli-alt-height: 96px;


$icon-olli-f1-url: 'icons/olli-f1.png';
$icon-olli-f1-width: 80px;
$icon-olli-f1-height: 80px;


$icon-olli-f2-url: 'icons/olli-f2.png';
$icon-olli-f2-width: 80px;
$icon-olli-f2-height: 80px;


$icon-olli-f3-url: 'icons/olli-f3.png';
$icon-olli-f3-width: 80px;
$icon-olli-f3-height: 80px;


$icon-olli-small-url: 'icons/olli-small.png';
$icon-olli-small-width: 16px;
$icon-olli-small-height: 16px;


$icon-olli-url: 'icons/olli.png';
$icon-olli-width: 80px;
$icon-olli-height: 5317px;


$icon-twitter-url: 'icons/twitter.png';
$icon-twitter-width: 32px;
$icon-twitter-height: 32px;


