@mixin icon-codepen { background-image: url('icons/codepen.png');
width:32px;height:32px;}

@mixin icon-cool { background-image: url('icons/cool.png');
width:16px;height:16px;}

@mixin icon-facebook { background-image: url('icons/facebook.png');
width:32px;height:32px;}

@mixin icon-github { background-image: url('icons/github.png');
width:32px;height:32px;}

@mixin icon-google { background-image: url('icons/google.png');
width:32px;height:32px;}

@mixin icon-invader { background-image: url('icons/invader.png');
width:16px;height:16px;}

@mixin icon-olli-alt { background-image: url('icons/olli-alt.png');
width:112px;height:112px;}

@mixin icon-olli-small { background-image: url('icons/olli-small.png');
width:16px;height:16px;}

@mixin icon-olli { background-image: url('icons/olli.png');
width:80px;height:80px;}

@mixin icon-twitter { background-image: url('icons/twitter.png');
width:32px;height:32px;}

