/*
 404 inliine styles
*/
@import 'config';

.error {
  margin: $leading 1em;
  text-align: center;
}

.error-big {
  color: #800;
  font-size: 2 * $scale * 1rem;
  line-height: 2 * $leading;
}
.links-cat {
  list-style: none outside none;
}
.links-cat,.links-item {
  padding:0;
  display: inline-block;
  margin:0;
}
.links-link {
  display: inline-block;
  padding: 0 .75em;
}
