@import 'lib/functions';
@import 'lib/theme';
@import 'lib/mixin';


$baseFontSize: 16; // in pixels. This would result in 16px on desktop
$baseLineHeight: 1.5; // how large the line height is as a multiple of font size
$leading: $baseLineHeight * 1rem;
// Rate of growth for headings
// I actually like this to be slightly smaller then the leading. Makes for tight headings.
$scale: 1.414;

// Breakpoints
$panelWidth: 20em;
$panelHeight: 30em;

$pageWidth: 40em;
$pageMargin: 1em;

$wideLayoutWidth: $pageWidth+$panelWidth;
$zoomWidth: 80em;
$zoomFactor: 1.25;
//Colors
$color-page: #fffffa;
$colors: getColors($color-page);
/*$color-brand: #6811ff;*/
$color-brand: #6e3c85;
$color-brand-lighter: #B393C2;
$color-brand-light: #8C61A0;
$color-brand-dark: #54226C;
$color-brand-darkest: #390C4E;

$color-extra: #FF8A00;
$color-hover: #F10087;

//$color-link: #67a281;
$color-link: #2164f4;

$color-link-hover: $color-hover;

//$color-link-visited: #3c624b;
$color-link-visited: #2164f4;

$color-codepen: #000;
$color-facebook: #3b5998;
$color-invader: #ff0084;
$color-github: #333;
$color-google: #4285f4;
$color-twitter: #55acee;

$monospaceFont: Consolas, monaco, monospace;
$sansSerifFont: Verdana, Geneva, sans-serif;
$myFont: 'myfont',Verdana, Geneva, sans-serif;
$serifFont: Georgia, Georgia, Times, Times New Roman, serif;


