@import 'lib/functions';
@import 'lib/theme';

// Breakpoints
$panelWidth: 20em;
$panelHeight: 30em;

$wideLayoutWidth: 60em;

//Colors
$colors: getColors(#fefeff);
$color-brand: #6811ff;
$color-codepen: #000;
$color-facebook: #3b5998;
$color-invader: #ff0084;
$color-github: #333;
$color-google: #4285f4;
$color-twitter: #55acee;

@mixin screenHide {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}