/* icons with svg datauris, em sized */
@import 'config';

@import 'icons/svg';

[class*="icon-"] {
  background-repeat: no-repeat;
  background-position:center center;
  display: inline-block;
}
.icon-olli, .icon-olli-small {
  @include icon-olli();
}
.icon-github {
  @include icon-github();
}
.icon-codepen {
  @include icon-codepen();
}
.icon-facebook {
  @include icon-facebook();
}
.icon-twitter {
  @include icon-twitter();
}
.icon-invader {
  @include icon-invader();
}

.header-logo {
  background-color:divider($colors);
  border-radius: 50% 0;
  @include card(2);
  .icon-olli {
    margin:.5em 1em;
  }
}
@media (min-width: $wideLayoutWidth) {
  .panel:hover .header-logo {
      border-radius: 0 50%;
    }
  .header-logo {
    transition: 1s border-radius;
  }
}
