/* icons with svg datauris, em sized */
@import 'config';

@import 'icons/svg';

[class*="icon-"] {
  background-repeat: no-repeat;
  background-position:center center;
  display: inline-block;
  svg {width:100%;height:100%;}
  vertical-align:text-top;
}
i[class*="icon-"] {
  width:1em;
  height:1em;
//  position:relative;
  top:.25em;
}
.icon-olli {
  background-image: url($icon-olli-url);
  width: px2em($icon-olli-width);
  height: px2em($icon-olli-height);
}

.icon-cool {
  background-image: url($icon-cool-url);
  width: px2em($icon-cool-width);
  height: px2em($icon-cool-height);
}
.icon-github {
  background-image: url($icon-github-url);
  width: px2em($icon-github-width);
  height: px2em($icon-github-height);
}
.icon-codepen {
  background-image: url($icon-codepen-url);
  width: px2em($icon-codepen-width);
  height: px2em($icon-codepen-height);
}
.icon-facebook {
  background-image: url($icon-facebook-url);
  width: px2em($icon-facebook-width);
  height: px2em($icon-facebook-height);
}
.icon-twitter {
  background-image: url($icon-twitter-url);
  width: px2em($icon-twitter-width);
  height: px2em($icon-twitter-height);
}

.icon-invader {
  background-image: url($icon-invader-url);
  width: px2em($icon-invader-width);
  height: px2em($icon-invader-height);
}

.header-logo {
  background-color:divider($colors);
  border-radius: 50% 0;
  @include card(2);
}
@media (min-width: $wideLayoutWidth) {
  .header-logo {
    transition: 1s border-radius;
  }
  .panel:hover {
    .header-logo {
      border-radius: 0 50%;
    }
  }
}
/*
Avatar animation
*/
@keyframes step1 {
  0% {opacity:1}
  25% {opacity:0;}
}
@keyframes step2 {
  25% {opacity:1}
  50% {opacity:0;}
}
@keyframes step3 {
  50% {opacity:1}
  75% {opacity:0;}
}
@keyframes step4 {
  75% {opacity:1}
  100% {opacity:0;}
}
.avatar .olli-f1,.avatar .olli-f2,.avatar .olli-f3,.avatar .olli-f4 {
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}
.panel:hover {
  .avatar .olli-f1 {
    opacity: 1;
    animation-name: step1;
  }
  .avatar .olli-f2 {
    animation-name: step2;
  }
  .avatar .olli-f3 {
    animation-name: step3;
  }
  .avatar .olli-f4 {
    animation-name: step4;
  }
}
