/* icons with png urls, px sized */
@import 'config';
@import 'icons/fallback';

[class*="icon-"] {
  background-repeat: no-repeat;
  background-position:center center;
  display: inline-block;
}
i[class*="icon-"] {
  height:1em;
  //vertical-align:text-top;
  position:relative;
  top:.25em;
}

.icon-olli {
  background-image: url($icon-olli-url);
  width: $icon-olli-width;
  height: $icon-olli-height;
}
.icon-cool {
  background-image: url($icon-cool-url);
  width: $icon-cool-width;
  height: $icon-cool-height;
}
.icon-github {
  background-image: url($icon-github-url);
  width: $icon-github-width;
  height: $icon-github-height;
}
.icon-codepen {
  background-image: url($icon-codepen-url);
  width: $icon-codepen-width;
  height: $icon-codepen-height;
}
.icon-facebook {
  background-image: url($icon-facebook-url);
  width: $icon-facebook-width;
  height: $icon-facebook-height;
}
.icon-twitter {
  background-image: url($icon-twitter-url);
  width: $icon-twitter-width;
  height: $icon-twitter-height;
}
.icon-invader {
  background-image: url($icon-invader-url);
  width: $icon-invader-width;
  height: $icon-invader-height;
}
.header-logo {
  background-repeat: no-repeat;
  background-position:center center;
  background-image: url($icon-background-url);
}
.noimg {
  @include screenShow();
}