/* icons with png datauris, px sized */
@import 'config';
@import 'icons/png';

[class*="icon-"] {
  background-repeat: no-repeat;
  background-position:center center;
  display: inline-block;
}
.icon-olli {
  background-image: url($icon-olli-alt-url);
  width: $icon-olli-alt-width;
  height: $icon-olli-alt-height;
}
.icon-olli-small {
  background-image: url($icon-olli-small-url);
  width: $icon-olli-small-width;
  height: $icon-olli-small-height;
}
.icon-github {
  background-image: url($icon-github-url);
  width: $icon-github-width;
  height: $icon-github-height;
}
.icon-codepen {
  background-image: url($icon-codepen-url);
  width: $icon-codepen-width;
  height: $icon-codepen-height;
}
.icon-facebook {
  background-image: url($icon-facebook-url);
  width: $icon-facebook-width;
  height: $icon-facebook-height;
}
.icon-twitter {
  background-image: url($icon-twitter-url);
  width: $icon-twitter-width;
  height: $icon-twitter-height;
}

.icon-invader {
  background-image: url($icon-invader-url);
  width: $icon-invader-width;
  height: $icon-invader-height;
}
.avatar {
  margin:0;
  width: $icon-olli-alt-width;
  height: $icon-olli-alt-height;
}