/*
 Test Layout
*/
@import 'lib/functions';
@import 'lib/theme';

// Breakpoints
$panelWidth: 20em;
$panelHeight: 30em;

$wideLayoutWidth: 60em;

//Colors
$colors: getColors(#fefeff);
$color-brand: #6811ff;

html {
  background-color:disabled($colors);
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position:relative;
  margin:0;
  padding:0;
  font-size:100%;
  line-height:1.5;
  color: text($colors);
  background-color:base($colors);
}
:link {
  color: #67a281;
}
:visited {
  color: #3c624b;
}
:link:active,
:link:hover,
:link:focus,
:visited:hover {
  color: #d94625;
}
small {font-size:.75em;}

.flex {
  display:flex;
  flex-direction: column;
  min-height:100vh;
}
.flex-header,.flex-footer {
  flex-shrink: 0;
}
.flex-content {
  flex: 1 0 auto; /* min-height = content; */
}
/* FOR LAYOUT ONLY */
.footer {
  background-color:#eee;
}
.panel {
  position:relative;
  display:block;
  padding:1em;
  text-align:center;
}
.panel a {
  display:inline-block;
  text-decoration:none;
  /*
  color:info($colors);
  &:hover {color:hilight($colors);}
*/
}
/* Header-Banner */
[class*="icon-"] {
  background-size: cover;
  background-position: center center;
}

a.header {
  color:$color-brand;
  &:hover {color:$color-brand;}
}
.header {
  line-height: 1;
  h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
    font-variant: small-caps;
  }
  & > div {
    display:inline-block;
    vertical-align: middle;
  }
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}
.header-logo {
  margin:0 1em 0 0;
  .icon-olli {
    width:5em;
    height:5em;
  }
}
.gi-svg .header-logo {
  background-color:divider($colors);
  border-radius: 50% 0;
  @include card(2);
  .icon-olli {
    margin:.5em 1em;
  }
}
/* Header Links */
.links {
  padding-top:1em;
  text-transform: uppercase;
  a {
    padding:0 .75em;
  }
}
.links-cat {display:inline-block;}


.content-width {
  margin: 0 auto;
  max-width: 40em;
  border:1px solid #000;
}
@media (min-width: $wideLayoutWidth) {
  .panel {
    position: absolute;
    right: 0;
    top:0;
    width: $panelWidth;
    text-align:right;
    a {display:block;}
    .gi-svg &:hover .header-logo {
      border-radius: 0 50%;
    }
  }
  .header-logo {
    transition: 1s border-radius;
    margin:0 0 1em 0;
  }
  .links {
    a {
      padding:.25em 0;
    }
  }
  .links-cat {display:block;}



  .content {
    margin-right: $panelWidth;
    min-height: $panelHeight;
  }
}
@media (min-width: $wideLayoutWidth) and (min-height: $panelHeight) {
  .panel {
    position: fixed;
  }
}
