/*
  @namespace svg url(http://www.w3.org/2000/svg);
  - postcss/cssnano destroys it
  - will be added with php
  */
.svg-hide {
  display: none;
  visibility: hidden
}

svg/*namespace*/
|g.svg-hide {
  display: inline-block;
  visibility: visible
}
svg/*namespace*/
|use.svg-hide {
  display: inline-block;
  visibility: visible
}

/*
 Layout
*/
@import 'config';
//@import 'icons/png';
//@import 'layout/fonts';
@import 'components/icons';
@import 'components/linklist';
@import 'layout/base';
@import 'layout/typo';
@import 'layout/content';
@import 'layout/article';
@import 'layout/gallery';

/* PAGE RESPONSIBLE LAYOUT */
.panel {
  position: relative;
  display: block;
  padding: 1em;
  text-align: center;
}

@media (min-width: $wideLayoutWidth) {
  //Header-Container
  .panel {
    position: absolute;
    right: 0;
    top: 0;
    width: $panelWidth;
    text-align: right;
    padding-left: 4em;
  }

  //Footer-container,.
  .footer-container {
    margin-right: $panelWidth;
  }
  //Content-container,.
  .page {
    min-height: $panelHeight;
    margin-right: $panelWidth;
  }
}

@media (min-width: $wideLayoutWidth) and (min-height: $panelHeight) {
  //Header-Container
  .panel {
    position: fixed;
  }
}

/* HEADER */
.header {
  display: block;
  & * {
    line-height: 1;
    *line-height: normal;
    color: $color-brand !important;
  }
}
.header-logo {
  display: inline-block;

  margin: 0 .5em;
  padding: .5em 1em;
}

.header-text {
  margin: .5em 0 0 0;
}

.header-text-big {
  font-size: 2em;
  font-variant: small-caps;
}

@media (min-width: $wideLayoutWidth) {
  .header-logo {
    margin: 0;
    //display: block;
  }
  .header-text {
    display:block;
  }
}
.mainmenu,.social {
  margin: 0 -.5em;
  padding-top: .5em;
}

/*Panel: MainMenu*/
.mainmenu {
  & .ll-link {
    text-transform: uppercase;
    color: $color-extra;
    &:visited {
      color: $color-extra;
    }
  }
}

@media (min-width: $wideLayoutWidth) {
  .mainmenu {
    padding-top:.75em;
    & .ll, & .ll-item {
      display: block;
    }
  }
}

/*Panel: Social Menu*/
.social {
  & .icon {
    width: 2em;
    height: 2em;
    opacity: opacity(icon($colors));
    transition: .5s opacity;
    &:hover {
      opacity: 1;
    }
  }
    /* icon vendor color */
    & .icon-github {
      fill: $color-github;
    }
    & .icon-codepen {
      fill: $color-codepen;
    }
    & .icon-twitter {
      fill: $color-twitter;
    }
    & .icon-facebook {
      fill: $color-facebook;
    }
    & .icon-google {
      fill: $color-google;
    }
  }

  @import 'layout/footer';

