/*
 Layout
*/
@import 'config';
@import 'icons/png';

//@import 'layout/fonts';
@import 'layout/base';
@import 'layout/typo';
@import 'layout/content';
@import 'layout/article';

/* PAGE RESPONIBLE LAYOUT */
.panel {
  position:relative;
  display:block;
  padding:1em;
  padding-bottom:0;
  margin-bottom:1em;
  text-align:center;
}
@media (min-width: $wideLayoutWidth) {
  //Header-Container
  .panel {
    position: absolute;
    right: 0;
    top:0;
    width: $panelWidth;
    text-align:right;
    padding-left:4em;
  }
  //Footer-container,.
  .footer-container {
    margin-right: $panelWidth;
  }
  //Content-container,.
  .page {
    min-height: $panelHeight;
    margin-right: $panelWidth - $pageMargin;
  }
}
@media (min-width: $wideLayoutWidth) and (min-height: $panelHeight) {
  //Header-Container
  .panel {
    position: fixed;
  }
}

/* HEADER */

/*All Links inside Panel/Header-Container*/
.panel a {
  display:inline-block;
  color:$color-extra;
  &:visited {color:$color-extra;}
}

.header {
  & > div {
    display:inline-block;
    vertical-align: middle;
  }
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}
.header-logo {
  margin:0 .5em;
  padding:.5em 1em;
}
.header-text {
  margin:.5em 0 0 0;
  color:$color-brand !important;
  line-height:1;
  h1 {
    font-size:2em;
    font-variant: small-caps;
    line-height:1;
    margin:0;
    color:$color-brand !important;
  }
}




/* Header Links */
.links {
  padding-top:1em;
  text-transform: uppercase;
  a {
    padding:0 .75em;
    margin:.5em;
  }
}
.links-cat {display:inline-block;}

@media (min-width: $wideLayoutWidth) {
  .header-logo {
    margin:0;
  }
  .links {
    a {
      display:block;
      padding:.25em 0;
      margin:0;
    }
  }
  .links-cat {display:block;}
}
/*Social Icons*/
.social {
  padding-top:1em;
  line-height:1;
}
.social-icon {
  margin:0 .25em;
  text-align:center;
  div {
    opacity: opacity(icon($colors));
    transition: .5s opacity;
  }
  div:hover {
    opacity:1;
  }
  span {
    display:block;
    font-size:.8em;
    @include screenHide();
  }

}
@media (min-width: $wideLayoutWidth) {
  .social-icon {
    margin: 0 0 0 .5em;
  }
  .social > .social-icon:first-child {
    margin-left: 0;
  }
}


@import 'layout/footer';

